<!DOCTYPE HTML>
<html>
   <head>
      <title> </title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
      {% load static %}
      <!--

      -->
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.dropotron.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.scrollgress.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.scrolly.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.slidertron.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/skel.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/skel-layers.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/init.js' %}"></script>
      <script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/progressBar.js' %}"></script>
      <!-- 
         <link rel="stylesheet" type="text/css" href="{% static '/SplunkAutomation/Theme2/css/style.css' %}" />
         <link rel="stylesheet" type="text/css" href="{% static '/SplunkAutomation/Theme2/css/skel.css' %}" />
         -->
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static '/splunkAutomation/theme2/css/custom.css' %}" />
      
   </head>
   <body>
      <!-- Header -->
      <header id="header" class="skel-layers-fixed">
         <h1><a href="index.html">ASDA DevOps Dashboard <span> by DevOps Team</span></a></h1>
         <nav id="nav">
            <ul>
               <li><a href="{% url 'splunkAutomation:url_for_theme2_index_page' %}">Home</a></li>
               <li>
                  <a href="" class="icon fa-angle-down">Layouts</a>
                  <ul>
                     <li><a href="left-sidebar.html">Left Sidebar</a></li>
                     <li><a href="right-sidebar.html">Right Sidebar</a></li>
                     <li><a href="no-sidebar.html">No Sidebar</a></li>
                     <li><a href="no-sidebar.html">Random</a></li>
                     <li>
                        <a href="">Submenu</a>
                        <ul>
                           <li><a href="#">Option 1</a></li>
                           <li><a href="#">Option 2</a></li>
                           <li><a href="#">Option 3</a></li>
                           <li><a href="#">Option 4</a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
               <li><a href="elements.html">Elements</a></li>
            </ul>
         </nav>
      </header>
      <!-- Main -->
      <section id="main" class="wrapper style1">
         <header class="major">
            <h2>Splunk Queries</h2>
            <p><B>Application wise</B></p>
        </header>

      
      

         <div class="container">
				<!-- Table -->
                                 
                        
            <section>
                     <h1>JavaScript Progress Bar</h1>

                        <div id="myProgress">
                          <div id="myBar">10%</div>
                        </div>

                        <br>
                        <button onclick="move()">Click Me</button>     





            </section>

         </div>                                         
      <!-- Footer -->

      <footer id="footer">
         <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
         </ul>
         <ul class="menu">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact</a></li>
         </ul>
         <span class="copyright">
         </span>
      </footer>
   </body>
</html>