<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		{% load static %}
		<script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.dropotron.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.scrollgress.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.scrolly.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/jquery.slidertron.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/skel.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/skel-layers.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/splunkAutomation/theme2/js/init.js' %}"></script>
		
		
		{% load static %}
		<!-- 
		<link rel="stylesheet" type="text/css" href="{% static '/SplunkAutomation/Theme2/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/SplunkAutomation/Theme2/css/skel.css' %}" />
		-->
		<link rel="stylesheet" type="text/css" href="{% static '/splunkAutomation/theme2/css/style.css' %}" />

		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><a href="index.html">ASDA DevOps Dashboard <span>by DevOps Team</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Layouts</a>
							<ul>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li>
								<li>
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Option 1</a></li>
										<li><a href="#">Option 2</a></li>
										<li><a href="#">Option 3</a></li>
										<li><a href="#">Option 4</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>ASDA DevOps</h2>
					<p>We manage the infrastructure</p>
					<ul class="actions">
						<li><a href="#one" class="button big scrolly">Go</a></li>
					</ul>
				</div>
			</section>

			<section>
									
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Assembly</th>
													<th>Environment</th>
													<th>Platform</th>
													<th>Instance Name</th>
													<th>Private IP</th>
													<th>FQ Hostname</th>
													<th>Size</th>
													<th>Cloud</th>
													<th>Status</th>
													<th>Created By</th>
												</tr>
											</thead>
											<tbody>
					{% if listOfList %}
                        {% for listObj in listOfList %}
												<tr>
													<td><h6>{{ listObj.0 }}</h6></td>
													<td><h6>{{ listObj.1 }}</h6></td>
													<td><h6>{{ listObj.2 }}</h6></td>
													<td><h6>{{ listObj.3 }}</h6></td>
													<td><h6>{{ listObj.4 }}</h6></td>
													<td><h6>{{ listObj.5 }}</h6></td>
													<td><h6>{{ listObj.6 }}</h6></td>
													<td><h6>{{ listObj.7 }}</h6></td>
													<td><h6>{{ listObj.8 }}</h6></td>
													<td><h6>{{ listObj.9 }}</h6></td>

													
												</tr>
						{% endfor %}
					{% endif %}
											</tbody>
											
										</table>
									</div>
									
									
								</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Applications</h2>
						<p></p>
					</header>
					<div class="slider">
						<span class="nav-previous"></span>
						<div class="viewer">
							<div class="reel">
								<div class="slide">
									<p><center><h3>Estore</h3><center></p>
									<div class="table-wrapper">
                 					<!-- Table -->

               </div>
									<!--
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/slide01.jpg' %}" alt=""/>
          						    -->
								</div>
								<div class="slide">
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/slide02.jpg' %}" alt=""/>
								</div>
								<div class="slide">
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/slide03.jpg' %}" alt=""/>
								</div>
							</div>
						</div>
						<span class="nav-next"></span>
					</div>
				</div>
			</section>
			
		
		<!-- Three -->
			<section id="three" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Amet nisl consequat</h2>
						<p>Ipsum dolor tempus commodo turpis adipiscing adipiscing in tempor placerat<br />
						sed amet accumsan enim lorem sem turpis ut. Massa amet erat accumsan curae<br />
						blandit porttitor faucibus in nisl nisi volutpat massa mi non nascetur.</p>
					</header>
					<div class="row">
						<div class="4u 6u(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit">
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/pic01.jpg' %}" alt=""/>
								</a>
								<h3>Sed amet lorem</h3>
								<p>Ipsum dolor tempus et commodo lorem accumsan et adipiscing blandit porttitor feugiat tempus lorem faucibus.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u 6u$(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit">
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/pic02.jpg' %}" alt=""/>
								</a>
								<h3>Massa accumsan</h3>
								<p>Ipsum dolor tempus et commodo lorem accumsan et adipiscing blandit porttitor feugiat tempus lorem faucibus.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u$ 6u(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit">
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/pic03.jpg' %}" alt=""/>
								</a>
								<h3>Faucibus portitor</h3>
								<p>Ipsum dolor tempus et commodo lorem accumsan et adipiscing blandit porttitor feugiat tempus lorem faucibus.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u 6u$(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit">
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/pic04.jpg' %}" alt=""/>
								</a>
								<h3>Non placerat</h3>
								<p>Ipsum dolor tempus et commodo lorem accumsan et adipiscing blandit porttitor feugiat tempus lorem faucibus.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u 6u(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit">
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/pic05.jpg' %}" alt=""/>
								</a>
								<h3>Adipiscing dolor</h3>
								<p>Ipsum dolor tempus et commodo lorem accumsan et adipiscing blandit porttitor feugiat tempus lorem faucibus.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						<div class="4u$ 6u$(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit">
									{% load static %}
          							<img src="{% static '/splunkAutomation/theme2/img/pic06.jpg' %}" alt=""/>
								</a>
								<h3>Feugiat tempus</h3>
								<p>Ipsum dolor tempus et commodo lorem accumsan et adipiscing blandit porttitor feugiat tempus lorem faucibus.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
					</div>
				</div>
			</section>
			
		<!-- CTA -->
			<section id="cta" class="wrapper style3">
				<h2>Sed faucibus et consequat</h2>
				<ul class="actions">
					<li><a href="#" class="button big">Get Started</a></li>
				</ul>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>

	</body>
</html>